[access]
	inheritFrom = chromiumos
[submit]
	action = cherry pick
[project]
	description = various integration tests written using the tast framework
[notify "arc-reviews"]
	email = arc-reviews+gerrit@google.com
	header = cc
        filter = path:src/chromiumos/tast/local/arc OR path:src/chromiumos/tast/local/bundles/cros/arc OR path:src/chromiumos/tast/local/bundles/cros/arcapp
[access "refs/for/*"]
	removeReviewer = group mdb/gwsq
