[access]
	inheritFrom = chromiumos
[submit]
	action = cherry pick
[project]
	description = various integration tests written using the tast framework
[notify "arc-reviews"]
	email = arc-reviews+gerrit@google.com
	header = cc
        filter = path:src/chromiumos/tast/local/arc OR path:src/chromiumos/tast/local/bundles/cros/arc OR path:src/chromiumos/tast/local/bundles/cros/arcapp
[notify "cros-connectivity-reviews"]
	email = cros-connectivity-reviews@google.com
	filter = path:src/chromiumos/tast/local/bundles/cros/dbus OR \
		 path:src/chromiumos/tast/local/bundles/cros/network OR \
		 path:src/chromiumos/tast/local/dbusutil OR \
		 path:src/chromiumos/tast/local/network OR \
		 path:src/chromiumos/tast/local/shill
[access "refs/for/*"]
	removeReviewer = group mdb/gwsq
