[access]
	inheritFrom = chromiumos
[submit]
	action = inherit
[project]
	description = various integration tests written using the tast framework
[access "refs/for/*"]
	removeReviewer = group mdb/gwsq
[access "refs/for/refs/heads/master"]
	exclusiveGroupPermissions = push
[access "refs/heads/master"]
	exclusiveGroupPermissions = push
	label-Tast-Review = -1..+1 group google/tast-owners@google.com
	label-Tast-Review = -1..+1 group google/tast-reviewers@google.com
[label "Tast-Review"]
	function = MaxWithBlock
	value = -1 Reject
	value = 0 No score
	value = +1 Accept
        copyAnyScore = true
	defaultValue = 0
[notify "arc-reviews"]
	header = cc
	email = arc-reviews+gerrit@google.com
	filter = path:src/chromiumos/tast/local/arc OR path:src/chromiumos/tast/local/bundles/cros/arc OR path:src/chromiumos/tast/local/bundles/cros/arcapp
[notify "cros-connectivity-reviews"]
	email = cros-connectivity-reviews@google.com
	filter = path:src/chromiumos/tast/local/bundles/cros/dbus OR \t\t path:src/chromiumos/tast/local/bundles/cros/network OR \t\t path:src/chromiumos/tast/local/dbusutil OR \t\t path:src/chromiumos/tast/local/network OR \t\t path:src/chromiumos/tast/local/shill
