<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright 2020 The Chromium OS Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.chromium.arc.testapp.keyboard"
          android:versionCode="1"
          android:versionName="0.0.1">
    <application android:label="ARC Keyboard Test"
                 android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true"></activity>
        <activity android:name=".NullEditTextActivity" android:exported="true"></activity>
    </application>
</manifest>
