<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 The Chromium OS Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.arc.testapp.chromewebapk">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:label="ARC Chrome WebAPK Test"
        android:theme="@android:style/Theme.Material.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".SimpleContentProvider"
            android:authorities="org.chromium.arc.testapp.chromewebapk.content"
            android:grantUriPermissions="true"
            android:exported="true" />
    </application>
</manifest>
