<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2020 The ChromiumOS Authors
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.arc.testapp.accessibilitytest">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="29" />
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/main_activity_name"
            android:configChanges="keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditTextActivity"
            android:exported="true"
            android:label="@string/edit_text_activity_name"
            android:configChanges="keyboardHidden" >
        </activity>

        <activity
            android:name=".LiveRegionActivity"
            android:exported="true"
            android:label="@string/live_region_activity_name"
            android:configChanges="keyboardHidden" >
        </activity>
        <activity
            android:name=".ActionActivity"
            android:exported="true"
            android:label="@string/action_activity_name"
            android:configChanges="keyboardHidden" >
        </activity>
    </application>
</manifest>
