<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2020 The Chromium OS Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.arc.testapp.pictureinpicture">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name">
        <activity
            android:name=".PipActivity"
            android:exported="true"
            android:supportsPictureInPicture="true" >
        </activity>
        <activity
            android:name=".MaPipBaseActivity"
            android:launchMode="singleTask"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlankActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            android:supportsPictureInPicture="false">
        </activity>
    </application>
</manifest>
