<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2022 The ChromiumOS Authors
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.chromium.arc.testapp.arcvpn">
    <!-- Otherwise the system will kill the service. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity android:name="org.chromium.arc.testapp.arcvpn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service android:name="org.chromium.arc.testapp.arcvpn.ArcTestVpnService"
                 android:permission="android.permission.BIND_VPN_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>

